{% extends 'blog/base.html' %}

{% block content %}
    {% load staticfiles %}
    <!-- Page Contents -->
    <div class="page animated fadeinright">

        {% for post in posts %}

            <div class="card">
                <div class="header-hover">
                    <img class="avatar" src="{% static 'img/user5.jpg' %}" alt="">
                    <div class="details">
                        <span>{{ post.author }}</span>
                        <span class="small">{{ post.published_date }}</span>
                    </div>
                </div>
                <div class="image">
                    <a href="{% url 'post_detail' pk=post.pk %}"><img src="{% static 'img/7.jpg' %}" alt=""></a>
                    <div class="opacity-overlay-top"></div>
                </div>
                <div class="p-5 grey lighten-4">
                    <a href="{% url 'post_detail' pk=post.pk %}"><h5 style="margin-bottom: 10px;font-weight: 600">{{ post.title }}</h5></a>
                    {{ post.text }} &nbsp &nbsp &nbsp         Comments: ({{ post.comments.count }})
                    <a href="{% url 'post_detail' pk=post.pk %}">
                </div>
            </div>
    {% endfor %}

    <!-- pagination -->
    <div class="valign center-align w-100">
        {% for page in total_page %}
            {% if current_page != page %}
                <span><a href="?page={{ page }}">{{ page }} </a></span>
            {% else %}
               <span><b>{{ page }}</b></span>
            {% endif %}
        {% endfor %}
    </div>

    </div>
{% endblock content %}