{% extends 'blog/base.html' %}

{% block content %}
    {% load staticfiles %}

    <div class="page animated fadeinright">

        <div class="hero-header bg-3 animated fadeindown">
            <div class="floating-button animated bouncein delay-3">
            <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
              <i class="ion-android-bookmark"></i>
            </span>
            </div>
        </div>

        <!-- Article Content -->
        <div class="animated article fadeinup delay-1">
            <div class="p-20">
                <h2 class="title">{{ post.title }}</h2>
                <div class="social-share-author animated fadeinright delay-2">
                    <img src="{% static 'img/user5.jpg' %}" alt="" class="avatar">
                    <div><span>{{ post.author }}, &nbsp;&nbsp;&nbsp;  {{ post.published_date }} </span>
                        <span>
                            {% if post.author == request.user or request.user.is_staff  %}
                                <a class="btn-flat" href="{% url 'post_remove' pk=post.pk %}">Delete</a> &nbsp; <a class="btn-flat" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <p class="text-flow"> <!-- <span class="dropcap"> A </span> -->  {{ post.text }}</p>
           <!--     <blockquote class="primary-border">"The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog."</blockquote> -->
                <!-- Slider -->
                <div class="swiper-container slider m-b-20">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{% static 'img/7.jpg' %}" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% static 'img/3.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <!-- End of Slider -->
             <!--   <p class="text-flow"><b>I am alone:</b> and feel the charm of existence in thisspot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p> -->

                <!-- Share -->
                <div class="share center-align">
                    <h5>Share it!</h5>
                    <i class="ion-social-facebook p-20 blue-text text-darken-4"></i>
                    <i class="ion-social-twitter p-20 blue-text"></i>
                    <i class="ion-social-pinterest p-20 red-text"></i>
                </div>

            <!-- comments -->
                <div class="comments grey lighten-4">
                    <h5> 5 Comments</h5>
                    {% for comment in post.comments.all %}

                        <div class="media-top-object animated fadeinright delay-2">
                            <img src="{% static 'img/user5.jpg' %}" alt="" class="media-left avatar">
                            <div class="media-body">
                                <span> {{ comment.author }} &nbsp; {{ comment.created_date }} &nbsp; &nbsp; &nbsp;
                                    {% if comment.author == request.user %}
                                        <a class="btn-flat" href="{% url 'comment_remove' pk=comment.pk %}"> delete</a>
                                    {% endif %}</span>
                                <span class="small">{{ comment.text }}</span>
                            </div>
                            <a href="{% url 'add_subComment_to_post' post_pk=post.pk comment_pk=comment.pk %}"><p class="btn-flat">reply</p></a>
                        </div>

                        {% for subComment in comment.subComments.all %} <!-- start point about subComments -->
                            <div class="media-top-object animated fadeinright delay-2">

                                <img src="{% static 'img/reply.gif' %}" alt="" class="media-left avatar" >
                                <img src="{% static 'img/user5.jpg' %}" alt="" class="media-left avatar">
                                <div class="media-body">
                                        <span> {{ subComment.author }} &nbsp; {{ subComment.created_date }} &nbsp; &nbsp; &nbsp;
                                            {% if subComment.author == request.user %}
                                                <a class="btn-flat" href="{% url 'subComment_remove' pk=subComment.pk %}"> delete</a>
                                            {% endif %}
                                        </span>
                                    <span class="small">{{ subComment.text|linebreaks }}</span>
                                </div>
                            </div>

                        {% endfor %}

                    {% empty %}
                        <p>No comments here yet :(</p>
                    {% endfor %}
                    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                </div>
            </div>
    </div>
{% endblock %}