{% extends 'blog/base.html' %}

{% block content %}
    {% load staticfiles %}
    <!-- Page Contents -->
    <div class="page animated fadeinright">

        {% for post in posts %}

            <div class="card" style="border:1px solid white; border-radius: 1px">
                <div class="header-hover m-10">
                    <a href="/auth/profile/{{ post.author.pk }}"><img class="avatar_left" style="float: left" src="/medias/{{ post.author.small_image_url }}" alt=""></a>
                    <div>
                        <a href="/auth/profile/{{ post.author.pk }}"><B>{{ post.author.username }}</B></a>
                        <div style="float: right">
                            <span class="status"><B>Student</B></span>
                            <span class="status" style="text-align: center;" >6.5</span>
                            <span class="status" style="text-align: center;" >Helper</span>
                        </div>
                    </div>

                    <div class="small">
                        {{ post.created_date }}
                    </div>
                </div>
                <a href="{% url 'post_detail' pk=post.pk %}">
                <div class="image m-10">
                    {% if post.resources.first.image_file %}
                        <img class="content-image" src="/medias/{{ post.resources.first.image_file }}" alt="">
                        <div class="opacity-overlay-top"></div>
                    {% else %}

                    {% endif %}
                </div>
                </a>
                <div class="p-5 grey lighten-4">
                    <a href="{% url 'post_detail' pk=post.pk %}"><h5 style="margin-bottom: 10px;font-weight: 600">{{ post.title }}</h5>
                    <blockquote style="margin: 0px 0px">{{ post.text }} &nbsp &nbsp &nbsp         Comments: ({{ post.comments.count }}) </blockquote>
                    </a>
                </div>
            </div>
        {% endfor %}

        <!-- pagination -->
        <div class="valign center-align w-100">
            {% for page in total_page %}
                {% if current_page != page %}
                    <span><a href="?page={{ page }}&category={{ category }}">{{ page }} </a></span>
                {% else %}
                   <span><b>{{ page }}</b></span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}