{% extends 'blog/base.html' %}

{% block content %}
    {% load staticfiles %}


    <div class="page animated fadeinright">

        <div class="hero-header animated fadeindown">
            <div class="floating-button animated bouncein delay-3">
            <span class="btn-floating resize btn-large waves-effect waves-light accent-color btn z-depth-1">
              <i class="ion-android-bookmark"></i>
            </span>
            </div>
        </div>

        <!-- Article Content -->
        <div class="animated article fadeinup delay-1" style="border:1px solid white; border-radius: 5px">
            <div class="p-10" style="background-color: white">
                <!-- Slider -->
                <div class="swiper-container slider m-b-20" style="border: 1px solid blanchedalmond">
                    <div class="swiper-wrapper" style="margin: auto;" >
                        {% for resource in post.resources.all %}
                            <div class="swiper-slide">
                                <img src="/medias/{{ resource.image_file }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <!-- End of Slider -->
                <h5 style="margin-bottom: 10px;font-weight: 600"> <blockquote class="primary-border">{{ post.title }} </blockquote></h5>
                <div class="social-share-author animated fadeinright delay-2">
                    <div>
                        <img src="{% static 'img/user5.jpg' %}" alt="" class="avatar_left">
                        <span class="small">
                            {{ post.author.username }}
                            {% if post.author == request.user or request.user.is_staff  %}
                                <div style="float: right"><a class="btn-floating" style="text-align: center;" href="{% url 'post_remove' pk=post.pk %}">삭제</a> &nbsp; <a class="btn-floating" style="text-align: center;" href="{% url 'post_edit' pk=post.pk %}">수정</a></div>
                            {% endif %}
                            <p style="margin-bottom: 10px">{{ post.created_date }}</p>
                        </span>
                    </div>
                </div>

                <p class="text-flow" style="margin-bottom: 10px;white-space: pre-line;"> <!-- <span class="dropcap"> A </span> -->  {{ post.text }}</p>
           <!--     <blockquote class="primary-border">"The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog."</blockquote> -->
             <!--   <p class="text-flow"><b>I am alone:</b> and feel the charm of existence in thisspot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p> -->

                <!-- Share -->
                <div class="share center-align">
                  <span>Share it!</span>
                    <i class="ion-social-facebook p-5 blue-text text-darken-4"></i>
                    <i class="ion-social-twitter p-5 blue-text"></i>
                    <i class="ion-social-pinterest p-5 red-text"></i>
                </div>

            <!-- comments -->
                <div class="comments grey lighten-4">
                    {% for comment in post.comments.all %}
                        <div class="media-top-object animated fadeinright delay-2">
                            <img src="{% static 'img/user5.jpg' %}" alt="" class="media-left avatar_left">
                            <div class="media-body">
                                <span class="small"> <b>{{ comment.author.username }}</b>
                                    <div style="float: right">
                                        {% if comment.author == request.user %}
                                            <a class="btn-floating" style="width: 30px;height: 30px;line-height: 30px;border-radius: 10%; text-align: center" href="{% url 'comment_remove' pk=comment.pk %}">삭제</a>
                                        {% endif %}
                                            <a class="btn-floating" style="width: 30px;height: 30px;line-height: 30px;border-radius: 10%; text-align: center" href="{% url 'add_subComment_to_post' post_pk=post.pk comment_pk=comment.pk %}">리플</a>
                                    </div>
                                    <p class="small">{{ comment.created_date }}</p>
                                </span>
                                <span style="white-space: pre-line;">{{ comment.text }}</span>
                            </div>
                        </div>

                        {% for subComment in comment.subComments.all %} <!-- start point about subComments -->
                            <div class="media-top-object animated fadeinright delay-2">

                                <img src="{% static 'img/reply.gif' %}" alt="" class="media-left reply" >
                                <img src="{% static 'img/user5.jpg' %}" alt="" class="media-left avatar_left">
                                <div class="media-body">
                                        <span class="small"> <b>{{ subComment.author.username }}</b>
                                            <div style="float: right">
                                                {% if subComment.author == request.user %}
                                                    <a class="btn-floating" style="width: 30px;height: 30px;line-height: 30px;border-radius: 10%; text-align: center" href="{% url 'subComment_remove' pk=subComment.pk %}">삭제</a>
                                                {% endif %}
                                            </div>
                                            <p class="small"> {{ subComment.created_date }} </p>
                                        </span>
                                    <span class="small">{{ subComment.text|linebreaks }}</span>
                                </div>
                            </div>

                        {% endfor %}
                    {% empty %}
                        <span>No comments here yet :(</span>
                    {% endfor %}
                    <div style="width: 100%">
                        <form method="POST" action="{% url 'add_comment_to_post' post.id %}">
                            {% csrf_token %}
                            <input type="hidden" id="pk" value="{{ post.id }}" />
                            <div>
                                <div style="width: 85%; float: left;">{{ form.text }} </div>
                                <div style="float: right;width: 14%"><button class="btn-floating" style="width: 100%; height: 3rem;border-radius: 1%; text-align: center" href="#">리플</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% comment %}    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script>
        (function() {

            var textarea = $('#id_text'),
                    originHeight = textarea.height(),
                    originClientHeight = textarea[0].clientHeight,
                    clone = textarea.clone(),
                    extraHeight = parseInt(textarea.css('fontSize')),
                    timer, content, cloneScrollHeight;

            clone
                    .removeAttr('id')
                    .removeAttr('name')
                    .css({
                        position: 'absolute',
                        top: 0,
                        left: -9999,
                        overflow: 'hidden'
                    }).appendTo('body');

            textarea.focus(function() {

                timer = setInterval(function() {
                    content = textarea.val();
                    clone.val(content);
                    cloneScrollHeight = clone[0].scrollHeight;

                    if (originClientHeight < cloneScrollHeight) {
                        textarea.css('height', cloneScrollHeight + extraHeight);
                    } else if (originClientHeight === cloneScrollHeight) {
                        textarea.css('height', originHeight);
                    }
                }, 100);

            });

            textarea.blur(function() {
                clearInterval(timer);
            });

        })();
    </script>{% endcomment %}
{% endblock %}