{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Contents -->
    <div class="page fullscreen valign-wrapper animated fadeinright" xmlns="http://www.w3.org/1999/html">

        <div class="valign center-align w-100">
            <h1 class="m-0"><strong>BuddyLang</strong></h1>
            <h5> An Account are Created!! </h5>
            <span class="block">Let's login your account <a class="primary-text" href={% url 'base_login' %}><b>Login</b></a></span>
        </div>
    </div>
    <!-- End of Page Contents -->
    </div><!-- End of Main Container -->

{% endblock %}