{% extends 'blog/base.html' %}

{% block content %}
    <!-- Page Contents -->
    <div class="page fullscreen valign-wrapper animated fadeinright" xmlns="http://www.w3.org/1999/html">

        <div class="valign center-align w-100">
            <h1 class="m-0"><strong>BuddyLang</strong></h1>
            <h5>Register your brand new Account</h5>
                <form action="{% url 'sign_up' %}" method="post">
                {% csrf_token %}
                    <div class="p-20">
                        <div class="input-field center">
                            <label for="login">Email</label>
                            <b>{{ form.email.errors|striptags }}</b>
                            {{ form.email }}
                        </div>

                        <div class="input-field center">
                            <label for="login-psw">Username</label>
                            <b>{{ form.username.errors|striptags }}</b>
                            {{ form.username }}
                        </div>

                        <div class="input-field center">
                            <label for="login-psw">Password</label>
                            <b>{{ form.password1.errors|striptags }}</b>
                            {{ form.password1 }}
                        </div>
                        <div class="input-field center">
                            <label for="login-psw2">Confirm</label>
                            <b>{{ form.password2.errors|striptags }}</b>
                            {{ form.password2 }}
                        </div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn-large primary-color block m-20 animated bouncein delay-4">Sign Up</button>
       <!--             <a class="waves-effect waves-light btn-large primary-color block m-20 animated bouncein delay-4" href="index.html">Register</a>  -->
                    <a class="waves-effect waves-light btn-large light-blue darken-4 block m-20 animated bouncein delay-5" href="index.html"><i class="ion-social-facebook left"></i> Sign with Facebook</a>
                    <span class="block">have an account? <a class="primary-text" href={% url 'base_login' %}><b>log In</b></a></span>
                    <span class="block">Forgot your account? <a class="primary-text" href="forgot.html"><b>Find your account!</b></a></span>
                    <span class="block">Forgot your password? <a class="primary-text" href="forgot.html"><b>Get it Back!</b></a></span>
                </form>
        </div>
    </div>
    <!-- End of Page Contents -->
    </div><!-- End of Main Container -->

{% endblock %}